<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Funcionario</title>
    <link rel="stylesheet" href="../static/CSS/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>

    <header class="Header">

        <div class="Contenedor">
            <div class="Barra">
                <a class="Logo" href="{% url 'home' %}">
                    <img class="Logo__Tipo Centrar-Texto" src="../static/IMG/Logo.png" alt="">
                    <h1 class="Logo__Nombre Centrar-Texto ">Process S.A.</h1>
                </a>
    
                <nav class="Navegacion">
                    <a href="{% url 'login' %}" class="Navegacion_Enlace">Iniciar Sesión</a>
                    <a href="{% url 'home' %}" class="Navegacion_Enlace">Inicio</a>
                    <a href="{% url 'administrador' %}" class="Navegacion_Enlace">Administrador</a>
                    <a href="{% url 'funcionario' %}" class="Navegacion_Enlace">Funcionario</a>
                    <a href="Diseñador.html" class="Navegacion_Enlace">Diseñador</a>
                </nav>
            </div>
        </div>

        <div class="Header__Texto">
            <h2 class="No-Margin">Funcionario</h2>
        </div>
    </header>

    <main class="Contenedor">
        <h3 class="Centrar-Texto">Crear Tareas</h3>
        <div class="Funcionario"></div>
        <form action="" class="Crear-Usuario">
            <div class="Campo">
                <label class="Campo__Label" for="Tarea">Tarea:</label>
                <input class="Campo__Field" type="text" placeholder="Ingrese Nombre de la tarea" id="Tarea">
            </div>

            <div class="Campo">
                <label class="Campo__Label" for="Responsable">Responsable:</label>
                <input class="Campo__Field" type="text" placeholder="Ingrese Nombre del Responsable" id="Responsable">
            </div>

            <div class="Campo">
                <label class="Campo__Label" for="Instrucciones">Informacion:</label>
                <textarea class="Campo__Field Campo__Field--Textarea" id="Instrucciones">Instrucciones Para el Desarrollo de la Tarea</textarea>
            </div>

            <div class="Campo">
                <label class="Campo__Label" for="Relacion">Relacion:</label>
                <input class="Campo__Label" type="radio" name="Relacion" value="1"> Si
                <input class="Campo__Label" type="radio" name="Relacion" value="2"> No
            </div>

            <div class="Campo">
                <label class="Campo__Label" for="Responsable">Flujo:</label>
                <input class="Campo__Field" type="text" placeholder="Si selecciono -Si- Espeficique con que Tarea se Relaciona" id="Responsable">
            </div>

            <div class="Campo">
                <input type="submit" value="Asignar Tarea" class="Boton Boton--Primario">
                <input type="submit" value="Cancelar" class="Boton Boton--Primario">
                <a href="MisTareas.html" class="Boton Boton--Primario">Mis Tareas</a>
            </div>
        </form>
    </main>

    <footer class="Footer">
        <div class="Contendor">
            <div class="Contenedor">
                <div class="Barra">
                    <a class="Logo" href="{% url 'home' %}">
                        <img class="Logo__Tipo Centrar-Texto" src="../static/IMG/Logo.png" alt="">
                        <h1 class="Logo__Nombre Centrar-Texto ">Process S.A.</h1>
                    </a>
    
                    <nav class="Navegacion">
                        <a href="{% url 'home' %}" class="Navegacion_Enlace">Inicio</a>
                        <a href="{% url 'administrador' %}" class="Navegacion_Enlace">Administrador</a>
                        <a href="{% url 'funcionario' %}" class="Navegacion_Enlace">Funcionario</a>
                        <a href="Diseñador.html" class="Navegacion_Enlace">Diseñador</a>
                    </nav>
                </div>
            </div>     
        </div>
    </footer>
    
</body>
</html>