<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process S.A.</title>
    <link rel="stylesheet" href="../static/CSS/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>
    <header class="Header">

        <div class="Contenedor">
            <div class="Barra">
                <a class="Logo" href="{% url 'home' %}">
                    <img class="Logo__Tipo Centrar-Texto" src="../static/IMG/Logo.png" alt="">
                    <h1 class="Logo__Nombre Centrar-Texto ">Process S.A.</h1>
                </a>
    
                <nav class="Navegacion">
                    <a href="{% url 'login' %}" class="Navegacion_Enlace">Iniciar Sesión</a>
                    <a href="{% url 'home' %}" class="Navegacion_Enlace">Inicio</a>
                    <a href="{% url 'administrador' %}" class="Navegacion_Enlace">Administrador</a>
                    <a href="{% url 'funcionario' %}" class="Navegacion_Enlace">Funcionario</a>
                    <a href="Diseñador.html" class="Navegacion_Enlace">Diseñador</a>
                </nav>
            </div>
        </div>

        <div class="Header__Texto">
            <h2 class="No-Margin"> Sumate a Nuestra Compañia </h2>
            <p class="No-Margin">Conoce Nuestra Tecnologia</p>
        </div>
    </header>

    <div class="Contenedor Contenido-Principal">
        <main class="Blog">
            <h3>Servicios</h3>

            <article class="Entrada">
                <div class="Entrada__Imagen">
                    <img src="../static/IMG/Servicio2.jpg" alt="Imagen Servicio1">
                </div>

                <div class="Entrada__Contenido">
                    <h4 class="No-Margin">Estructura</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam molestiae optio rerum rem. Voluptate molestias rem numquam corrupti ullam laborum temporibus. Aspernatur suscipit culpa quod fugit accusantium iusto fugiat nesciunt.</p>
                </div>
                <a href="#" class="Boton Boton--Primario"> Ver Mas</a>
            </article>

            <article class="Entrada">
                <div class="Entrada__Imagen">
                    <img src="../static/IMG/Servicio2.jpg" alt="Imagen Servicio2">
                </div>

                <div class="Entrada__Contenido">
                    <h4 class="No-Margin">Estructura</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam molestiae optio rerum rem. Voluptate molestias rem numquam corrupti ullam laborum temporibus. Aspernatur suscipit culpa quod fugit accusantium iusto fugiat nesciunt.</p>
                </div>
                <a href="#" class="Boton Boton--Primario"> Ver Mas</a>
            </article>
        </main>
        <aside class="Sidebar">
            <h3>Nuestros Sistema y Aplicaciones</h3>

            <ul class="Cursos No-Padding">
                <li class="Widget-Curso">
                    <h4 class="No-Margin">Informacion</h4>
                    <p class="Widget-Curso__Label">Personal:
                        <span class="Widget-Curso_Info">40</span>
                    </p>

                    <p class="Widget-Curso__Label">Sucursales:
                        <span class="Widget-Curso_Info">2</span>
                    </p>
                    <a href="#" class="Boton Boton--Primario">Mas Informacion</a>
                </li>

                <li class="Widget-Curso">
                    <h4 class="No-Margin">Trayectoria</h4>
                    <p class="Widget-Curso__Label">Clientes:
                        <span class="Widget-Curso_Info">25</span>
                    </p>

                    <p class="Widget-Curso__Label">Localidad:
                        <span class="Widget-Curso_Info">Santiago</span>
                    </p>
                    <a href="#" class="Boton Boton--Primario">Mas Informacion</a>
                </li>
            </ul>
        </aside>
    </div>

        <footer class="Footer">
        <div class="Contendor">
            <div class="Contenedor">
                <div class="Barra">
                    <a class="Logo" href="{% url 'home' %}">
                        <img class="Logo__Tipo Centrar-Texto" src="../static/IMG/Logo.png" alt="">
                        <h1 class="Logo__Nombre Centrar-Texto ">Process S.A.</h1>
                    </a>
    
                    <nav class="Navegacion">
                        <a href="{% url 'home' %}" class="Navegacion_Enlace">Inicio</a>
                        <a href="{% url 'administrador' %}" class="Navegacion_Enlace">Administrador</a>
                        <a href="{% url 'funcionario' %}" class="Navegacion_Enlace">Funcionario</a>
                        <a href="Diseñador.html" class="Navegacion_Enlace">Diseñador</a>
                    </nav>
                </div>
            </div>     
        </div>
    </footer>
</body>
</html>